/.venv/
/venv/
__pycache__/
*.py[cod]
*.swp
*.kate-swp
*.log
core
core.*
.DS_Store
dist/
.appimage-build/
*.AppImage

# local credentials (saved outside repo by default, but just in case)
credentials.json
