#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=TIDAL Bitperfect
Comment=TIDAL player with direct ALSA output (ffmpeg decode)
Exec=tidal-bitperfect
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=tidal-bitperfect
